# 데이터 전처리
## 전력생산 - 소비

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/2010-2011 Solar home electricity data(perCustomer).csv')

In [3]:
df.head()

,date,Load(Customer1:CL),Load(Customer2:CL),Load(Customer3:CL),Load(Customer4:CL),Load(Customer5:CL),Load(Customer6:CL),Load(Customer7:CL),Load(Customer8:CL),Load(Customer9:CL),...,Load(Customer291:GG),Load(Customer292:GG),Load(Customer293:GG),Load(Customer294:GG),Load(Customer295:GG),Load(Customer296:GG),Load(Customer297:GG),Load(Customer298:GG),Load(Customer299:GG),Load(Customer300:GG)
0,2010-07-01 00:30:00,1.250,0.0,2.029,0.000,1.917,0.0,1.738,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2010-07-01 01:00:00,1.244,0.0,2.013,0.000,1.924,0.0,1.753,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2010-07-01 01:30:00,1.256,0.0,1.000,1.973,1.474,0.0,1.769,0.000,0.278,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2010-07-01 02:00:00,0.744,0.0,0.000,1.950,0.092,0.0,1.664,0.000,0.388,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2010-07-01 02:30:00,0.019,0.0,0.000,1.544,1.020,0.0,0.000,0.944,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.tail()

,date,Load(Customer1:CL),Load(Customer2:CL),Load(Customer3:CL),Load(Customer4:CL),Load(Customer5:CL),Load(Customer6:CL),Load(Customer7:CL),Load(Customer8:CL),Load(Customer9:CL),...,Load(Customer291:GG),Load(Customer292:GG),Load(Customer293:GG),Load(Customer294:GG),Load(Customer295:GG),Load(Customer296:GG),Load(Customer297:GG),Load(Customer298:GG),Load(Customer299:GG),Load(Customer300:GG)
17515,2011-06-30 22:00:00,0.000,0.0,0.0,0.0,0.000,0.0,0.000,0.000,0.000,...,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17516,2011-06-30 22:30:00,0.000,0.0,0.0,0.0,0.000,0.0,0.000,0.269,0.000,...,0.006,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17517,2011-06-30 23:00:00,0.000,0.0,0.0,0.0,0.000,0.0,0.000,2.769,0.000,...,0.000,0.0,0.006,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17518,2011-06-30 23:30:00,0.000,0.0,0.0,0.0,0.000,0.0,0.000,2.744,0.000,...,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519,2011-07-01 00:00:00,1.094,0.0,0.0,0.0,1.858,0.0,1.665,2.350,0.607,...,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# GC : General Consumption
GC = df.iloc[:,140:440]

# GG : Gross Generation
GG = df.iloc[:,440:] 

# CL : Controlled Load consumption
CL = df.iloc[:,1:140]

In [11]:
surplus = GG.values - GC.values

In [16]:
surplus = pd.DataFrame(surplus)

In [23]:
surplus_names = []
#colnames.append("Load(Customer" +  str(int(c_customer[j])) + ":"+ c_category[k] + ")")
for i in range(len(surplus.columns)) :
    surplus_names.append(f"Load(Customer{i+1}:surplus)")

In [26]:
surplus.columns = surplus_names
print(surplus.columns)

Index(['Load(Customer1:surplus)', 'Load(Customer2:surplus)',
       'Load(Customer3:surplus)', 'Load(Customer4:surplus)',
       'Load(Customer5:surplus)', 'Load(Customer6:surplus)',
       'Load(Customer7:surplus)', 'Load(Customer8:surplus)',
       'Load(Customer9:surplus)', 'Load(Customer10:surplus)',
       ...
       'Load(Customer291:surplus)', 'Load(Customer292:surplus)',
       'Load(Customer293:surplus)', 'Load(Customer294:surplus)',
       'Load(Customer295:surplus)', 'Load(Customer296:surplus)',
       'Load(Customer297:surplus)', 'Load(Customer298:surplus)',
       'Load(Customer299:surplus)', 'Load(Customer300:surplus)'],
      dtype='object', length=300)

In [31]:
date = df['date'][0:17520]
preprocessed_data = pd.concat([date, surplus], axis=1)

In [33]:
preprocessed_data.to_csv('2010-2011 Solar home electricity data(surplus).csv', index=False)