In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./data/2010-2011 Solar home electricity data(Preprocessed).csv')

In [5]:
tidue = pd.read_csv('./data/postcode_to_위경도.csv')

In [142]:
tidue

    postcode          x           y
0       2048 -33.893453  151.164381
1       2305 -32.927424  151.706411
2       2066 -33.812602  151.169451
3       2076 -33.708586  151.122843
4       2205 -33.937810  151.149058
5       2204 -33.908629  151.154885
6       2079 -33.670909  151.125756
7       2209 -33.945492  151.079161
8       2085 -33.729324  151.204416
9       2087 -33.773259  151.216073
10      2220 -33.958369  151.099545
11      2093 -33.805574  151.262708
12      2227 -34.043981  151.084985
13      2099 -33.750008  151.286031
14      2100 -33.764598  151.262708
15      2230 -34.062186  151.146145
16      2119 -33.755167  151.064603
17      2251 -33.472132  151.385190
18      2126 -33.728747  151.041313
19      2259 -33.205946  151.350186
20      2261 -33.360333  151.431874
21      2262 -33.207558  151.542803
22      2263 -33.250436  151.507765
23      2135 -33.880881  151.076249
24      2137 -33.854349  151.102457
25      2265 -33.064147  151.443547
26      2134 -33.879912  151.102457
27      2278 -32.935137  151.548643
28      2280 -33.022331  151.671339
29      2282 -32.964824  151.647961
30      2283 -33.050132  151.595374
31      2284 -32.952447  151.618744
32      2289 -32.948140  151.706411
33      2290 -32.975467  151.712257

In [55]:
GG_cnt = df[df['Consumption Category'] == 'GG']['Postcode'].value_counts() / 17520

In [58]:
GG_cnt.sort_index(ascending=True).index

100

In [35]:
CL_cnt = df[df['Consumption Category'] == 'CL']['Postcode'].value_counts() / 17520

In [45]:
CL_cnt.sort_index(ascending=True).index

Float64Index([2046.0, 2047.0, 2048.0, 2066.0, 2076.0, 2077.0, 2079.0, 2084.0,
              2085.0, 2086.0, 2087.0, 2093.0, 2099.0, 2100.0, 2119.0, 2120.0,
              2126.0, 2134.0, 2135.0, 2137.0, 2159.0, 2190.0, 2196.0, 2198.0,
              2200.0, 2203.0, 2204.0, 2205.0, 2208.0, 2209.0, 2218.0, 2219.0,
              2220.0, 2227.0, 2228.0, 2230.0, 2231.0, 2233.0, 2250.0, 2251.0,
              2259.0, 2260.0, 2261.0, 2262.0, 2263.0, 2265.0, 2278.0, 2280.0,
              2281.0, 2282.0, 2283.0, 2284.0, 2289.0, 2290.0, 2293.0, 2305.0,
              2315.0, 2320.0, 2321.0, 2324.0, 2325.0],
             dtype='float64')

In [37]:
GC_cnt = df[df['Consumption Category'] == 'GC']['Postcode'].value_counts() / 17520

In [40]:
GC_cnt.sort_index(ascending=True)

2008.0    1.0
2010.0    1.0
2018.0    2.0
2021.0    1.0
2025.0    1.0
         ...
2321.0    1.0
2324.0    1.0
2325.0    3.0
2326.0    1.0
2330.0    1.0
Name: Postcode, Length: 100, dtype: float64

In [94]:
postcode_sorted = pd.DataFrame(GG_cnt.sort_index(ascending=True).index.astype(int), columns = ['postcode'])

In [95]:
GG_sorted_cnt = pd.DataFrame(GG_cnt.sort_index(ascending=True).values.astype(int), columns = ['GG_customer_count'])

In [96]:
GC_sorted_cnt = pd.DataFrame(GC_cnt.sort_index(ascending=True).values.astype(int), columns = ['GC_customer_count'])

In [115]:
location_df = pd.concat([postcode_sorted,GG_sorted_cnt,GC_sorted_cnt], axis=1)

In [113]:
postcode_df_cnt = pd.DataFrame(CL_cnt.sort_index(ascending=True).index.astype(int), columns=['postcode'])
CL_df_cnt = pd.DataFrame(CL_cnt.sort_index(ascending=True).values.astype(int), columns=['CL_customer_count'])

In [116]:
CL_location = pd.concat([postcode_df_cnt, CL_df_cnt], axis=1)

In [124]:
location_df = pd.merge(location_df, CL_location, left_on='postcode', right_on = 'postcode',how='left')

In [132]:
location_df = location_df.fillna(int(0))

In [136]:
location_df['CL_customer_count'] = location_df['CL_customer_count'].astype(int)

In [138]:
location_df.to_csv('./data/customer_location.csv')