In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('E:\\연구실\\연구과제\\에너지프로슈머\\2022.07.14 (데이터)\\Aus Grid\\Solar home half-hour data - 1 July 2010 to 30 June 2011\\2010-2011 Solar home electricity data.csv')

In [4]:
GC_df = df[df['Consumption Category'] == "GC"]
CL_df = df[df['Consumption Category'] == "CL"]
GG_df = df[df['Consumption Category'] == "GG"]

In [5]:
dates = pd.date_range('2010-07-01 00:30:00','2011-07-01 00:00:00',freq='30T') ## 일단위로 생성

In [6]:
np.unique(df['Consumption Category'])

array(['CL', 'GC', 'GG'], dtype=object)

In [76]:
preprocessed_data = np.empty((0,5))
for k in range(3):
    GC_df = df[df['Consumption Category'] == np.unique(df['Consumption Category'])[k]]
    customer_300 = np.empty((0,5))
    for j in range(len(np.unique(GC_df['Customer']))):
        c1 = GC_df[GC_df['Customer'] == np.unique(GC_df['Customer'])[j]]

        customer = np.zeros((17520,1))
        postcode = np.zeros((17520,1))
        generator_Capacity = np.zeros((17520,1))
        consumption_Category = np.zeros((17520,1), dtype="<U2")
        
        arr = np.array([])
        for i in range(365):
            arr = np.append(arr, c1.iloc[:,5:].transpose().iloc[:,i])

        customer.fill(np.unique(c1['Customer'])[0])
        postcode.fill(np.unique(c1['Postcode'])[0])
        generator_Capacity.fill(np.unique(c1['Generator Capacity'])[0])
        consumption_Category.fill(np.unique(c1['Consumption Category'])[0])
        
        # 1년치 데이터
        cdata = np.concatenate([customer, postcode, generator_Capacity, consumption_Category, arr.reshape(17520,1)], axis=1)

        customer_300 = np.concatenate([customer_300, cdata], axis=0)

    preprocessed_data = np.concatenate([preprocessed_data,customer_300], axis=0)

In [77]:
print(df[df['Consumption Category'] == np.unique(df['Consumption Category'])[0]].shape)
print(df[df['Consumption Category'] == np.unique(df['Consumption Category'])[1]].shape)
print(df[df['Consumption Category'] == np.unique(df['Consumption Category'])[2]].shape)

(50735, 53)
(109500, 53)
(109500, 53)

In [78]:
colnames = np.array(['Customer', 'Postcode', 'Generator Capacity', 'Consumption Category', 'Load(kWh)'])

In [79]:
preprocedDf = pd.DataFrame(preprocessed_data, columns = colnames)

In [80]:
repdate = dates
for i in range(738):
    repdate = np.append(repdate,dates, axis=0)

In [81]:
dd = pd.concat([pd.DataFrame(repdate, columns=['date']),preprocedDf], axis=1)

In [82]:
dd.head()

,date,Customer,Postcode,Generator Capacity,Consumption Category,Load(kWh)
0,2010-07-01 00:30:00,1.0,2076.0,3.78,CL,1.25
1,2010-07-01 01:00:00,1.0,2076.0,3.78,CL,1.244
2,2010-07-01 01:30:00,1.0,2076.0,3.78,CL,1.256
3,2010-07-01 02:00:00,1.0,2076.0,3.78,CL,0.744
4,2010-07-01 02:30:00,1.0,2076.0,3.78,CL,0.019

In [83]:
dd.tail()

,date,Customer,Postcode,Generator Capacity,Consumption Category,Load(kWh)
12947275,2011-06-30 22:00:00,300.0,2086.0,3.36,GG,0.0
12947276,2011-06-30 22:30:00,300.0,2086.0,3.36,GG,0.0
12947277,2011-06-30 23:00:00,300.0,2086.0,3.36,GG,0.0
12947278,2011-06-30 23:30:00,300.0,2086.0,3.36,GG,0.0
12947279,2011-07-01 00:00:00,300.0,2086.0,3.36,GG,0.0

In [85]:
dd.to_csv('E:\\연구실\\연구과제\\에너지프로슈머\\2022.07.14 (데이터)\\전처리 데이터\\2010-2011 Solar home electricity data(Preprocessed).csv', index=False)