In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./data/2010-2011 Solar home electricity data(Preprocessed).csv')

In [5]:
tidue = pd.read_csv('./data/postcode_to_위경도.csv')

In [55]:
GG_cnt = df[df['Consumption Category'] == 'GG']['Postcode'].value_counts() / 17520

In [58]:
GG_cnt.sort_index(ascending=True).index

100

In [35]:
CL_cnt = df[df['Consumption Category'] == 'CL']['Postcode'].value_counts() / 17520

In [45]:
CL_cnt.sort_index(ascending=True).index

Float64Index([2046.0, 2047.0, 2048.0, 2066.0, 2076.0, 2077.0, 2079.0, 2084.0,
              2085.0, 2086.0, 2087.0, 2093.0, 2099.0, 2100.0, 2119.0, 2120.0,
              2126.0, 2134.0, 2135.0, 2137.0, 2159.0, 2190.0, 2196.0, 2198.0,
              2200.0, 2203.0, 2204.0, 2205.0, 2208.0, 2209.0, 2218.0, 2219.0,
              2220.0, 2227.0, 2228.0, 2230.0, 2231.0, 2233.0, 2250.0, 2251.0,
              2259.0, 2260.0, 2261.0, 2262.0, 2263.0, 2265.0, 2278.0, 2280.0,
              2281.0, 2282.0, 2283.0, 2284.0, 2289.0, 2290.0, 2293.0, 2305.0,
              2315.0, 2320.0, 2321.0, 2324.0, 2325.0],
             dtype='float64')

In [37]:
GC_cnt = df[df['Consumption Category'] == 'GC']['Postcode'].value_counts() / 17520

In [40]:
GC_cnt.sort_index(ascending=True)

2008.0    1.0
2010.0    1.0
2018.0    2.0
2021.0    1.0
2025.0    1.0
         ...
2321.0    1.0
2324.0    1.0
2325.0    3.0
2326.0    1.0
2330.0    1.0
Name: Postcode, Length: 100, dtype: float64

In [94]:
postcode_sorted = pd.DataFrame(GG_cnt.sort_index(ascending=True).index.astype(int), columns = ['postcode'])

In [95]:
GG_sorted_cnt = pd.DataFrame(GG_cnt.sort_index(ascending=True).values.astype(int), columns = ['GG_customer_count'])

In [96]:
GC_sorted_cnt = pd.DataFrame(GC_cnt.sort_index(ascending=True).values.astype(int), columns = ['GC_customer_count'])

In [115]:
location_df = pd.concat([postcode_sorted,GG_sorted_cnt,GC_sorted_cnt], axis=1)

In [113]:
postcode_df_cnt = pd.DataFrame(CL_cnt.sort_index(ascending=True).index.astype(int), columns=['postcode'])
CL_df_cnt = pd.DataFrame(CL_cnt.sort_index(ascending=True).values.astype(int), columns=['CL_customer_count'])

In [116]:
CL_location = pd.concat([postcode_df_cnt, CL_df_cnt], axis=1)

In [124]:
location_df = pd.merge(location_df, CL_location, left_on='postcode', right_on = 'postcode',how='left')

In [132]:
location_df = location_df.fillna(int(0))

In [136]:
location_df['CL_customer_count'] = location_df['CL_customer_count'].astype(int)

In [137]:
location_df.to_csv('')

    postcode  GG_customer_count  GC_customer_count  CL_customer_count
0       2008                  1                  1                  0
1       2010                  1                  1                  0
2       2018                  2                  2                  0
3       2021                  1                  1                  0
4       2025                  1                  1                  0
..       ...                ...                ...                ...
95      2321                  1                  1                  1
96      2324                  1                  1                  1
97      2325                  3                  3                  1
98      2326                  1                  1                  0
99      2330                  1                  1                  0

[100 rows x 4 columns]